/* 

    1- common style
    2- general style
    3- sections
        3.0 Header section
        3.1 Home section 
        3.2 About section
        3.3 Portfolio section 
        3.4 Services section 
        3.5 Prices section 
        3.6 Team section 
        3.7 Blog section 
        3.8 Contact section 
        3.9 Footer section 
*/
/* 
    1- common
-overlay
-container
-opacity hover
-section header
-section padding
-hover effect 1(left to right)
-hover effect 2(top to bottom)

*/
.opacity{
    transition: opacity 0.5s;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
.overlay-ltr{
    position: relative;
}
.overlay-ltr:after{
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgb(34, 34, 34);
    transition: 1s;
}
.overlay-ltr:hover::after{
    width: 100%;
}
.overlay-top{
    position: relative;
}
.overlay-top:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgb(34, 34, 34);
    transition: 1s;
}
.overlay-top:hover::after{
    height: 100%;
}
.mrg{
    margin: 0 5%;
}
.whyUs, .team{
    margin-top: 100px;
}
img{
    width: 100%;
}
/* 2- General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --maincolor: #6195FF;
    --secondaryColor: #fff;
    --bgColor: #f8f8f8;
    --border: solid #eee ;
}
body{
    font-family: 'Varela Round',sans-serif;
}
.container{
    width: 80%;
    margin: auto;
}
.clear{
    clear: both;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}
.section-header{
    text-align: center;
    margin: 100px ;
}
.section-header .title{
    text-transform: capitalize;
    margin: 30px;
    padding-top: 70px;
    font-size: 35px;
}
.section-header .line{
    display: block;
    height: 4px;
    width: 50px;
    margin: auto;
    background-color: var(--maincolor);
}
a{
    text-decoration: none;
}
/* Sections */
/* header */
.header{
    position: fixed;
    z-index: 3;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.header .logo{
    width: 25%;
    float:left;
    margin: 15px 5% 0;
}
.header .logo img{
    width: 30%;
}
.header .nav{
    width: 65%;
    float:left;
    list-style: none;
}
.nav > li{
    display: inline-block;
}
.nav > li > a{
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--secondaryColor);
    padding: 30px 15px 0;
}

.nav > li > a::after{
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    margin-top: 3px;
    background-color: var(--maincolor);
    transition: width 0.5s;
}
.nav > li > a:hover::after {
    width: 100%;
}
.dropdown{
    position: relative;
}
.dropdown-menu{
    position: absolute;
    background-color: var(--maincolor);
    list-style: none;
    top: 80%;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
}
.dropdown-menu a{
    text-decoration: none;
    text-transform: capitalize;
    color: var(--secondaryColor);
}
.dropdown:hover ~ .dropdown-menu{
    opacity: 1;
    visibility:visible;
}
/* Home section */
.home{
    background-image: url(../images/background/background1.webp);
    background-size: cover;
    height: 100vh;
    position: relative;
}
.home-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 70%;
}
.home .title{
    color: var(--secondaryColor);
    text-transform: uppercase;
    font-size: 55px;
    word-spacing: 7px;
    font-weight: bolder;
}
.home-desc{
    color: var(--secondaryColor);
    line-height: 25px;
    font-weight:100;
    margin: 20px 0;
}
.home .btn{
    width: 160px;
    height: 45px;
    font-size: 16px;
    font-weight:100;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    transition: opacity 0.5s;
}
.home .btn-started{
    color:#10161A ;
}
.home .btn-learn{
    background-color: var(--maincolor);
    color:var(--secondaryColor);
}
.home .btn:hover{
    opacity: 0.8;
}
/* About section*/
.about .about-item{
    width: 30%;
    float: left;
    text-align: center;
    border: 1px var(--border);
    padding: 40px 20px;
}
.about .item-title{
    transition: color 1s;
}
.about .item-desc{
    margin: 20px 0;
    color: #868F9B;
}
.about a{
   color: var(--maincolor);
   font-size: 18px;
   text-transform: capitalize;
}
.about i{
    color: var(--maincolor);
    font-size: 34px; 
    margin-bottom: 20px;

}
.about-item:hover .item-title{
    color: rgb(247, 244, 241);
}
/* Portfolio section */
.portfolio{
    background-color: var(--bgColor);
}
.port-item{
    float: left;
    width: 30%;
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
}
.layer-content{
    text-align: center;
    position: absolute;
    left: -17px;
    top: -20px;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.582);
    width: 110%;
    height: 110%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
}
.port-item:hover .layer-content{
    opacity: 1;
    visibility: visible;
}
.layer-content .content-info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}
.layer-content-title{
    margin: 10px 0;
    font-weight: bolder;
    color: var(--secondaryColor);
    position: relative;
    top: 10px;
    transition: 0.5s;
}
.layer-content .category{
    text-transform: uppercase;
    color: var(--maincolor);
    font-weight: bolder;
    position: relative;
    top: 10px;
    transition: 0.7s;
}
.layer-content a i{
    background-color: var(--maincolor);
    width: 50px;
    height: 50px;
    color: rgb(255, 255, 255);
    line-height: 50px;
    position: relative;
    top: 10px;
    transition: 0.9s;
}
.port-item:hover .layer-content i,
.port-item:hover .layer-content .category,
.port-item:hover .layer-content .layer-content-title{
    top: 0px;
}
/* Services section */
.service-item{
    float: left;
    width: 30%;
    text-align: left;
    position: relative;
    border: 1px var(--border);
    padding: 40px 20px 40px 70px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.service-item i{
    display: block;
    color: var(--maincolor);
    position: absolute;
    top: 45px;
    left: 20px;
    font-size: 34px;
}
.service-title{
    text-transform: capitalize;
    transition: 0.8s;
}
.service-desc{
    margin: 20px 0;
    color: #868F9B;
    line-height: 25px;
}
.service-item:hover .service-title{
    color: rgb(247, 244, 241);
}
/* Why us section */
.whyUs{
    background-color: var(--bgColor);
}
.whyUs .whyUs-item{
    float: left;
    width: 50%;
}
.whyUs .section-header{
    text-align: left;
    margin: 60px 0px 50px 60px;
}
.whyUs .section-header .line{
    margin-left: 35px;
}
.whyUs-img img{
    width: 80%;
    margin: 60px;
    margin-top: 140px;
}
.whyUs-desc, .whyUs-list{
    margin-left: 90px;
    color: #868F9B;
    line-height: 25px;
}
.whyUs-list{
    list-style: none;
    font-size: 18px;
    padding: 25px;
    padding-left: 0px;
    line-height: 1.6;
}
.whyUs-list i{
    color: var(--maincolor);
    font-size: 30px;
    line-height: 30px;
}
.whyUs-item .dots{
    list-style: none;
    position: absolute;
    top: 90%;
    left: 50%;
}
.whyUs-item.right{
    position: relative;
}
.whyUs-item .dots li{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: rgb(228, 228, 228);   
    border-radius: 50%;
    margin-top: 10px;
} 
.whyUs-item .dots .first{
    background-color: var(--maincolor);
}
.whyUs-item .dots li:hover{
    background-color: var(--maincolor);
}
/* Count section */
.count{
    width: 100%;
    height: 300px;
    background-image: url(../images/background/background2.webp);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.count-item{
    float: left;
    width: 20%;
    margin: 2.5%;
    padding-top: 60px;
    text-align: center;
    color: var(--secondaryColor);
}
.count-item i{
    color: var(--maincolor);
    font-size: 30px;
}
.count-item .num{
    margin: 20px;
    font-size: 32px;
}
.count-item .count-desc{
    font-size: 18px;
}
/* Prices section */
.price-item{
    float: left;
    width: 30%;
    border: 1px var(--border);
    text-align: center;
}
.price-item span{
    display: block;
    color: #868f9b;
    margin: 22px 0;
}
.price-title{
    text-transform: uppercase;
    font-size: 18px;
}
span.price{
    margin: auto;
    border: 3px solid var(--maincolor);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    color: black;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    padding: 15px 0;
    transition: color 0.5s;
}
.price-item span.month {
    text-transform: uppercase;
    display: block;
    color: #000;
    font-weight: lighter;
    font-size: 15px;
    margin: 0;
    transition: color 0.5s;
}
.price-item .info{
    line-height: 2;
}
.purchase{
    background-color: transparent;
    border: 2px solid var(--maincolor);
    font-size: 17px;
    width: 150px;
    padding: 8px;
    border-radius: 3px;
    margin-bottom: 22px;
    color: var(--maincolor);
}
.price-item:hover .price-title{
    color: var(--maincolor);
}
.price-item:hover .price,
.price-item:hover .month{
    color: var(--secondaryColor);
}
/* Team section */
.team{
    width: 100%;
    height: 300px;
    background-image: url(../images/background/background3.webp);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.team .member{
    float: left;
    width: 40%;
    margin: 5%;
}
.team .member-info{
    position: relative;
}
.team .member img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}
.team .holding-job-name{
    padding-left: 100px;
    padding-top: 20px;
}
.team .name{
    text-transform: capitalize;
    color: var(--secondaryColor);
}
.team .job{
    text-transform: uppercase;
    color: var(--maincolor);
    font-weight: bold;
}
.team .desc{
    margin-top: 35px;
    color: var(--secondaryColor);
}
/* Our Team section */
.our-team .member{
    background-color: #F4F4F4;
    width: 30%;
    float: left;
    text-align: center;
}
.our-team .name{
    text-transform: capitalize;
    font-size: 24px;
    transition: color 1s;
}
.our-team .job{
    display: block;
    text-transform: uppercase;
    color: #868F9B;
    transition: color 1s;
}
.our-team .team-img{
    width: 300px;
    height: 300px;
    margin: 40px auto 24px;
    position: relative;
}
.our-team .team-img img{
    height: 100%;
}

.our-team .team-img .icon{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.39);
    opacity: 0;
    visibility: hidden;
}
.our-team .team-img .icon a{
    display: block;
    background-color: #6196ff9c;
    color: var(--secondaryColor);
    width: 50px;
    line-height: 50px;
    margin-left: auto;
}
.our-team .team-content{
    margin-bottom: 20px;
}
.our-team .member.overlay-top{
    z-index: 1;
}
.our-team .member:hover .icon{
    opacity: 1;
    visibility: visible;
}
.our-team .member:hover .name{
    color: var(--secondaryColor);
}
.our-team .member:hover .job{
    color: var(--maincolor);
}
/* Blog section */
.blog{
    background-color: var(--bgColor);
    padding-bottom: 100px;
}
.blog-item{
    float: left;
    width: 30%;
    background-color: var(--secondaryColor);
}
.blog-img{
    width:100%

}
.blog .img-caption, .blog .desc, .blog-title, .blog #readM{
    margin: 15px 0;
    padding: 0 15px;
}
.blog .img-caption i{
    color: var(--maincolor);
}
.blog .desc{
    color:#868F9B;
    line-height: 2;
}
.blog #readM{
    display: block;
    color: var(--maincolor);
    padding-bottom: 15px;
}
/* Contact section */
.contact-item{
    float: left;
    width: 30%;
    text-align: center;
}
.contact-item i{
    color: var(--maincolor);
    font-size: 35px;
}
.contact-item .cont-way{

    margin: 20px;
}
.contact-item span{
    color: #868F9B;
}
.contact-form{
    margin: 100px 17%;
    width: 65%;
}
.contact .contact-form input, textarea{
    font-size: 16px;
    display: block;
    background-color: var(--bgColor);
    border: none;
    border-bottom: 2px var(--border);
    color: #354052;
    padding: 10px 10px;
    margin: 15px 5px;
    width: 100%;
}
.input-parent{
    padding-top: 100px;
    margin-right: -14px;
    height: 100px; 
}
.contact-form .half{
    float: left;
}
textarea{
    resize: vertical;
}
#send{
    background-color: var(--maincolor);
    color: var(--secondaryColor);
    width: 180px;
    border-radius: 3px;
    height: 50px;
    margin: auto;
    margin-top: 50px;
    cursor: pointer;
    transition: opacity 0.5s;
}
#send:hover{
    opacity: 0.8;
}
/* Footer section */
.footer{
    height: 300px;
    background-color: #1C1D21;
    position: relative;
}
.footer .container{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.footer .logo{
    width: 150px;
    margin-left: 45%;
}
.footer .social{
    margin-top: 20px;
    margin-left: 55%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.footer .social a{
    display: block;
    float: left;
    background-color: var(--maincolor);
    color: var(--secondaryColor);
    width: 50px;
    line-height: 50px;
    margin: 5px;
    border-radius: 2px;
}
.footer .copyright a{
    color: var(--maincolor);
    text-transform: uppercase;
    transition: opacity 0.5s;  
}
.footer .copyright span{
    text-transform: uppercase;  
    color: var(--secondaryColor);
}

.footer .social a:hover{
    opacity: 0.8;
}